body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-container {
  // text-align: center;
  .App-header {
    text-align: center;
  }
  
  .App-logo {
    height: 12vmin;
    pointer-events: none;
  }
  .App-logo-header {
    height: 5vmin;
    pointer-events: none;
    margin-right: 5px;
  }
  .home {
    margin-top: 20px;
  }
  .text-home {
    font-size: 20px;
  }
  li {
    list-style-type: none;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .title {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      padding: 25px;
    }
    .text {
      font-weight: 600;
      padding-bottom: 3px;
    }
    .text-input {
      padding: 10px;
      margin: 8px 0;
      &:hover {
        background-color: #f2fffd;
      }
    }
    .btn-login {
      margin: 8px 0;
      padding: 8px;
      font-size: 18px;
      font-weight: 600;
    }
    // button[disabled=disabled], button:disabled {
    //   cursor: not-allowed;
    // }
    .btn-go-back {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }
    .input-pass {
      position: relative;
    }
    .fa-eye, .fa-eye-slash {
      position: absolute;
      right: 10px;
      top: 22px;
      cursor: pointer;
    }
  }
  .NF404 {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .img-404 {
    height: 50vh;
  }
  .header-user {
    justify-content: space-between;
  }
  .table-user {
    width: inherit;
    overflow-x: auto;
  }
  .pagination {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .header-user {
    flex-direction: column;
    .btn-gr {
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
    }
    input {
      padding: 10px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-header {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
